.header {
  position: relative;
  max-width: 800px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: salmon;
  font-family: helvetica;
  text-align: center;
  font-weight: normal;
}

h4 {
  font-family: helvetica;
  text-align: center;
  font-weight: normal;
}

.countExp {
  position: absolute;
  right: 0px;
  font-family: helvetica;
  float: right;
}

.count {
  position: absolute;
  right: 0px;
  font-family: helvetica;
}

.button {
  position: relative;
  float: left;
  width: 120px;
  height: 40px;
  color: white;
  background-color: #AFD490;
  margin: 10px;
}

.button:active {
  top: 2px;
}

.button h4 {
  margin: 0 auto;
  font-family: helvetica;
}

.container {
  width: 800px;
  height: 800px;
  background-color: #F2F2F2;
  margin: 0 auto;
  display: block;
  border: 1px solid #DBDBDB;
}

.footer {
  position: relative;
  max-width: 800px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

.box {
  outline: 1px solid lightgrey;
  float: left;
}
