.header {
  position: relative;
  max-width: 802px;
  height: 100px;
  display: block;
  background-color: #EDEDED;
  margin: 0 auto;
}

.container {
  width: 800px;
  height: 800px;
  background-color: #F2F2F2;
  margin: 0 auto;
  display: block;
  border: 1px solid #DBDBDB;
}

.footer {
  position: relative;
  max-width: 802px;
  height: 100px;
  display: block;
  background-color: #EDEDED;
  margin: 0 auto;
}

.box {
  outline: 1px solid black;
  background-color: white;
  float: left;
}
